@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    background: url(./sky.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.wrapper {
    background-color: whitesmoke;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgb(163, 162, 162);
}

.wrapper header {
    font-size: 1.5rem;
    color: rgb(104, 132, 141);
    font-weight: 500;
    padding: 1rem;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper.active header {
    justify-content: start;
}


.wrapper header i {
   display: none;
}

.wrapper.active header i {
    cursor: pointer;
    font-size: 1.25rem;
    margin-right: 1rem;
    display: flex;
}

.wrapper header i:hover {
    transform: translateY(-3px);
    transition: ease-in-out 0.2s;
}

.wrapper .input-part {
    padding: 2rem;
}
.wrapper.active .input-part  {
    display: none;
}

.wrapper .input-part input,
.wrapper .input-part button {  
    border: 1px solid rgba(211, 211, 211, 0.329);
    outline: none;
    width: 100%;
    height: 50px;
    text-align: center;
    border-radius: 0.5rem;
    font-size: 1rem;
}

.info-txt{
    display: none;
}

.info-text.error {
    padding: 0.8rem;
    text-align: center;
    border-radius: 0.5rem;
    background-color:rgba(255, 99, 71, 0.432);
    color:rgb(70, 30, 21);
    margin: 0.5rem 0;
    font-size: 0.7rem;
}

.info-text.pending {
    text-align: center;
    border-radius: 0.5rem;
    padding: 0.8rem;
    background-color: rgba(0, 128, 0, 0.349);
    color: rgb(0, 128, 0);
    margin: 0.5rem 0;
    font-size: 0.7rem;
}

.input-part button {
    cursor: pointer;
    background-color: lightblue;
    font-weight: 500;
}

.input-part button:hover {
    background-color: rgba(102, 152, 168, 0.726);
    transform: translateY(-3px);
    transition: ease-in-out 0.2s;
}

.input-part .separator {
    height: 1px;
    width: 100%;
    margin: 1.5rem 0;
    background-color: rgba(0, 0, 0, 0.103);
    display: flex;
    align-items: center;
    justify-content: center;
}
.separator::before {
    content: "or";
    background-color: whitesmoke;
    padding: 0 0.5rem;
    font-size: 0.8rem;
}

.weather-part {
    display: none;
}

.weather {
    text-transform: uppercase;
    font-size:0.8rem;
}

.weather-part.active {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.weather-part img {
    max-width: 120px;
    padding-top: 1.5rem;
}

.weather-part .temp-top {
    display: flex;
    font-size: 4rem;
    font-weight: 500;
}

.weather-part .numb-top {
    font-weight: 600;
} 

.weather-part .temp .deg-top {
    font-size: 3rem;
    display: block;
    margin: 0.5rem 0.3rem;
}

.weather-part .location {
    display: flex;
    align-items: center;
    font-size:1.5rem;
}

.weather-part .location span {
    padding: 1.5rem 0;
}

.weather-part .location i {
    font-size: 1rem;
    padding: 0 0.5rem;
}

.weather-part .bottom-details {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.103);
}

.bottom-details .column {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.column i {
    color: rgba(110, 195, 216, 0.753);
    font-size:2rem;
    padding: 0 0.5rem;
}

.column.humidity {
    border-left: 1px solid rgba(0, 0, 0, 0.103);
}

.details .temp, .humidity span {
    font-size: 1rem;
}




